source https://www.nuget.org/api/v2
framework: MonoAndroid8.0

git https://github.com/jacobbrunson/RePlayDummyGame.git master build: "bash build.sh", Packages: /DummyGame/, OS: windows

nuget MonoGame.Framework.Android
nuget DummyGame.Android
