source https://www.nuget.org/api/v2
framework: MonoAndroid7.1

nuget MonoGame.Framework.Android
nuget Microsoft.AppCenter
nuget Microsoft.AppCenter.Analytics
nuget Microsoft.AppCenter.Crashes
nuget Microsoft.AppCenter.Distribute
nuget Microsoft.AppCenter.Push
