<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.9.0" requireReinstallation="true" />
  <package id="Microsoft.AppCenter.Analytics" version="1.9.0" requireReinstallation="true" />
  <package id="Microsoft.AppCenter.Crashes" version="1.9.0" requireReinstallation="true" />
  <package id="Microsoft.AppCenter.Distribute" version="1.9.0" requireReinstallation="true" />
  <package id="Microsoft.AppCenter.Push" version="1.9.0" requireReinstallation="true" />
  <package id="MonoGame.Framework.Android" version="3.6.0.1625" targetFramework="monoandroid71" />
  <package id="Paket" version="5.179.0" targetFramework="monoandroid71" />
</packages>